._1N_rSWkkOXhlNrCPWq4epr {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 320px;
  font-size: 18px;
  color: #0d0106;
  text-align: center;
  text-transform: uppercase;
}

._1m6I5YFn4kKCGbI9qHTagr {
  width: 320px;
  height: 120px;
  color: #fbfbff;
  background-color: #657ed4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

._1I79lrnnSWlwIGcy7XynXE {
  margin-top: 40px;
}

._2vtft1t39wbmA6d5gCWvN1 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

